[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/myvenv/bin/uwsgi -i /srv/furnihouse_project/fm/furni/.config/uwsgi/furni.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target