{% extends 'cs/base.html' %}
{% load static %}

{% block title %}CS 요청리스트{% endblock %}

{% if user.is_authenticated %}
{% block content %}
<h3><a id ="logout" href='{% url "logout" %}'>로그아웃</a></h3>
<h4>환영합니다. {{user.first_name}}님</h4>
    <form id="addRequest"action="">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name = "name" placeholder="고객명" required>
            <input type="text" name = "address" placeholder="주소" required>
            <input type="text" name = "phone_number" placeholder="수취인휴대폰" required>
            <input type="text" name = "text" placeholder="클레임 상세내역" required>
        </div>
        <button tyep="submit">등록하기</button>
    </form>

    <div>
        <h3>CS 요청내역(총 {{request_datas.count}} 건 있습니다.)<select id = "option_status" name="status">
            <option value="False">처리요망</option>
            <option value="True">처리완료</option>
            <option value="All">전체조회</option>
        </select></h3>
        <table id="request_table" class="table table-striped">
            <th>처리상태</th>
            <th>작성자</th>
            <th>고객명</th>
            <th>주소</th>
            <th>연락처</th>
            <th>클레임 내용</th>
            <th>작성일자</th>
            <th>수정</th>
            <th>삭제</th>
            </tr>
            {% if request_datas %}
            {% for request_data in request_datas %}
                <tr id="request_data-{{request_data.id}}" class = "{{request_data.status}}">
                    {% if not request_data.status %}
                        <td>
                            <button id="requestbutton-{{request_data.id}}" class="btn btn-default" onclick="edit_status('{{request_data.id}}')">처리요망</button>
                        </td>
                    {% else %}
                        <td>
                            <button id ="requestbutton-{{request_data.id}}" class="btn btn-primary" onclick="edit_status('{{request_data.id}}')" >처리완료</button>
                        </td>
                    {% endif %}
                    <td class = "request_author request_data" name="author">{{request_data.author.first_name}}</td>
                    <td class = "request_name request_data" name="name">{{request_data.name}}</td>
                    <td class = "request_address request_data" name="address">{{request_data.address}}</td>
                    <td class = "request_phone_number request_data" name="phone_number">{{request_data.phone_number}}</td>
                    <td class = "request_text request_data" name="text"><a data-toggle="collapse" data-parent="#accordion" href="#request_data_text-{{request_data.id}}" aria-expanded="true" aria-controls="collapseOne" >{{request_data.text|truncatewords:30}}</a></td>
                    <td class = "request_created_date request_data" name="created_date">{{request_data.created_date}}</td>
                        <td>
                        {% if user == request_data.author %}
                            <button class="btn btn-success form-control" onclick="edit_request_data('{{request_data.id}}')" data-toggle="modal" data-target="#myModal">수정하기</button>                        
                        {% endif %}
                        </td>
                        <td>
                        {% if user == request_data.author %}
                            <button class="btn btn-danger form-control" onclick="delete_request_data('{{request_data.id}}')">삭제하기</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                클레임 내역이 없습니다.
            {% endif %}
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">CS 수정사항</h4>
        </div>
        <form id="updateRequest" action="">
            <div class="modal-body">
                <input class="form-control" id="request-id" type="hidden" name="formid"/>
                <label for="name">고객명</label>
                <input class="form-control" id="request-name" type="text" name="formname"/>
                <label for="address">주소</label>
                <input class="form-control" id="request-address" type="text" name="formaddress"/>
                <label for="age">연락처</label>
                <input class="form-control" id="request-phone_number" type="text" name="formphone_number" min=10 max=100/>
                <label for="age">클레임 내용</label>
                <input class="form-control" id="request-text" type="text" name="formtext" min=10 max=100/>
            </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >수정하기</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        </div>
        </form>
      </div>
    </div>
  </div>
    {% endblock %} 
    {% block javascript %}
    <script>
        // Create Django Ajax Call
        $("form#addRequest").submit(function(){
            var nameinput = $('input[name="name"]').val().trim();
            var addressinput = $('input[name="address"]').val().trim();
            var phone_numberinput = $('input[name="phone_number"]').val().trim();
            var textinput = $('input[name="text"]').val().trim();
            if (nameinput && addressinput && phone_numberinput && textinput){
                //Create Ajax Call
                $.ajax({
                    url : '{% url "crud_ajax_create" %}',
                    data : {
                        'name' : nameinput,
                        'address' : addressinput,
                        'phone_number' : phone_numberinput,
                        'text' : textinput,
                    },
                    dataType : 'json',
                    success : function(data){
                        if(data.request_data){
                            appendtorequesttable(data.request_data);
                        }
                    }
                });
            }else{
                alert("모든 필드의 값이 찼습니다.");
            }
            
            });
        //Create Django Ajax Call
        $("form#updateRequest").submit(function(){
            var idinput = $('input[name="formid"]').val().trim();
            var nameinput = $('input[name="formname"]').val().trim();
            var addressinput = $('input[name="formaddress"]').val().trim();
            var phone_numberinput = $('input[name="formphone_number"]').val().trim();
            var textinput = $('input[name="formtext"]').val().trim();
            if (nameinput && addressinput && phone_numberinput && textinput){
                //Create Ajax Call
                $.ajax({
                    url : '{% url "crud_ajax_update" %}',
                    data : {
                        'id' : idinput,
                        'name' : nameinput,
                        'address' : addressinput,
                        'phone_number' : phone_numberinput,
                        'text' : textinput
                    },
                datatype : 'json',
                success : function(data){
                    if (data.request_data){
                        updateRequest_data(data.request_data);
                    }
                }
            }
        );
    }});
            // Update Django Ajax Call
            function edit_request_data(id){
                if(id){
                    tr_id = "#request_data-"+id;
                    updatename = $(tr_id).find(".request_name").text();
                    updateaddress = $(tr_id).find(".request_address").text();
                    updatephone_number = $(tr_id).find(".request_phone_number").text();
                    updatetext = $(tr_id).find(".request_text").text();
                    updatecreated_date = $(tr_id).find(".request_created_date").text();
                    $('#request-id').val(id);
                    $('#request-name').val(updatename);
                    $('#request-address').val(updateaddress);
                    $('#request-phone_number').val(updatephone_number);
                    $('#request-text').val(updatetext);
                }
            }

            function updateRequest_data(request_data){
                $('#request_table #request_data-'+request.id).children(".request_data").each(function(){
                    var attr = $(this).attr("name");
                    if (attr == "name"){
                        $(this).text(request_data.name);
                    } else if (attr == "address"){
                        $(this).text(request_data.address);
                    } else if (attr == "phone_number"){
                        $(this).text(request_data.phone_number);
                    } else if (attr == "text"){
                        $(this).text(request_data.text);
                    }
                });
            }

            function appendtorequesttable(request_data){
                $("#request_table>tbody:last-child").append(`
                    <tr id="request_data${request_data.id}">
                    <td name="author">${request_data.author}</td>
                        <td name="name">${request_data.name}</td>
                        <td name="address">${request_data.address}</td>
                        <td name="phone_number">${request_data.phone_number}</td>
                        <td name="text">${request_data.text}</td>
                        <td name="created_date">${request_data.created_date}</td>
                    </tr>
                    `)
            }

            //Delete Django Ajax Call
            function delete_request_data(id){
                var action = confirm("정말로 삭제하시겠습니까?");
                if (action != false){
                    $.ajax({
                        url : '{% url "crud_ajax_delete" %}',
                        data : {
                            'id' : id,
                        },
                        datatype : 'json',
                        success: function(data){
                            if (data.deleted){
                                $("#request_data-" + id).remove();
                            }
                        }
                    });
                }
            }
        // $(function(){
        //     var test = $("#option_status option:selected").val();
        //     $("#option_status option:selected").click(function(){
        //         alert(test);

        // }));

        function edit_status(id){
            var action = confirm("CS 내역이 완료되었습니까?");
            if( action != false){
                $.ajax({
                    url : '{% url "crud_ajax_status" %}',
                    datatype : 'JSON',
                    data :{
                        'id' :  id
                    },
                    success : function(data){
                            var id = "requestbutton-" + data.request_status.id
                            if ( $('#'+id).attr("class") == "btn btn-primary"  ){
                                $('#'+id).attr("class", "btn btn-default");
                                $('#'+id).text("처리요망")
                            } else {
                                $('#'+id).attr("class", "btn btn-primary");
                                $('#'+id).text("처리완료")
                        }
                    }
                })
            }
        }
        

    </script>
{% endblock %}
{% else %}

Permission denied

{% endif %}